@page "/Clientes/EditarCliente/{Identidad}"

<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h3>Editar Cliente</h3>

        <EditForm Model="@clien">
            <DataAnnotationsValidator />
            <div class="form-group row">
                <label for="Identidad" class="col-sm-2 col-form-label">
                    Identidad Cliente
                </label>
                <div class="col-sm-10">
                    <label for="Identidad" class="col-sm-2 col-form-label">
                    Identidad Cliente
                </label>
                </div>
            </div>

            <div class="form-group row">
                <label for="Nombre" class="col-sm-2 col-form-label">
                    Nombre Cliente
                </label>
                <div class="col-sm-10">
                    <InputText id="Nombre" class="form-control" @bind-Value="clien.Nombre" />
                    <ValidationMessage For="@(() => clien.Nombre)" />
                </div>
            </div>

            <div class="form-group row">
                <label for="Direccion" class="col-sm-2 col-form-label">
                    Direccion
                </label>
                <div class="col-sm-10">
                    <InputText id="Direccion" class="form-control" @bind-Value="clien.Direccion" />
                    <ValidationMessage For="@(() => clien.Direccion)" />
                </div>
            </div>

            <div class="form-group row">
                <label for="Correo" class="col-sm-2 col-form-label">
                    Correo
                </label>
                <div class="col-sm-10">
                    <InputText id="Correo" class="form-control" @bind-Value="clien.Correo" />
                    <ValidationMessage For="@(() => clien.Correo)" />
                </div>
            </div>

            <div class="form-group row">
                <label for="Telefono" class="col-sm-2 col-form-label">
                    Telefono Cliente
                </label>
                <div class="col-sm-10">
                    <InputText id="Telefono" class="form-control" @bind-Value="clien.Telefono" />
                    <ValidationMessage For="@(() => clien.Telefono)" />
                </div>
            </div>

            <div class="form-group row">
                <label for="EstaActivo" class="col-sm-2 col-form-label">
                    Esta Activo
                </label>
                <div class="col-sm-10">
                    <InputCheckbox @bind-Value="clien.EstaActivo" />
                </div>
            </div>

            <div class="form-group row">
                <label for="FechaNacimiento" class="col-sm-2 col-form-label">
                    Fecha Nacimiento
                </label>
                <div class="col-sm-10">
                    <label for="FechaNacimiento" class="col-form-label">
                        @clien.FechaNacimiento.ToShortDateString()
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <p>
                    <input type="submit" class="btn btn-primary" value="Guardar" @onclick="Guardar" />
                    <input type="submit" class="btn btn-danger" value="Cancelar" @onclick="Cancelar" />
                    <input type="submit" class="btn btn-secondary" value="Eliminarr" @onclick="Eliminar" />
                </p>
            </div>

        </EditForm>

    </Authorized>
    <NotAuthorized>
        <h3>No tiene permiso para ingresar a esta Ruta</h3>
    </NotAuthorized>
</AuthorizeView>
